/* src/styles/Navbar.css */

.navbar {
    background-color: black; /* Color de fondo del navbar */
    padding: 5 12px;
}



.navbar-nav {
    margin-left: auto; /* Alinea los enlaces a la derecha */
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #d4d4d4; /* Color del texto al pasar el ratón */
}
.container-logo{
    display: flex;
    justify-content: center;
    color: white;
}

.container-logo:hover{
    color: #d4d4d4;
}
.urraca-logo{
    height: 50px;
    width: 50px;
}
