/* Estilos Generales de la Página */
.sales-page {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0 20px; /* Reducir padding para pantallas más pequeñas */
}

/* Título de la Página */
.page-title {
    text-align: center;
    color: #333;
    font-size: 24px;
}

/* Contenedor del Formulario */
.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Etiquetas del Formulario */
.form-container label {
    font-size: 14px;
    
    color: #333;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
}

/* Campos de Entrada del Formulario */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Botón de Agregar al Carrito */
.register-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.register-button:hover {
    background-color: green;
}

/* Contenedor del Carrito de Compras */
.cart-container {
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cart-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

/* Tabla del Carrito */
.cart-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

/* Cabecera de la Tabla */
.cart-table th {
    background-color: #007bff;
    color: white;
    padding: 8px;
    text-align: left;
}

/* Filas de la Tabla */
.cart-table td {
    background-color: #fff;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Primera y última fila con bordes redondeados */
.cart-table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.cart-table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.cart-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.cart-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

/* Estilo de las Filas al Pasar el Mouse */
.cart-table tr:hover td {
    background-color: #f1f1f1;
}

/* Botón de Eliminar Producto */
.remove-item-button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-item-button:hover {
    background-color: #c82333;
}

/* Total del Carrito */
.cart-total {
    font-size: 9px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: #007bff;
}

.quantity-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 3px;
}

.quantity-value {
    display: inline-block;
    min-width: 30px;
    text-align: center;
}

.remove-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 3px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .sales-page {
        padding: 0 2px;
    }

    .cart-container {
        padding: 8px;
    }

    .cart-table th,
    .cart-table td {
        padding: 6px;
    }

    .cart-table,
    .cart-table tr,
    .cart-table th,
    .cart-table td {
        width: 100%;
        text-align: center;
    }

    .cart-table th {
        text-align: center;
    }

    .cart-table th::before {
        content: attr(data-label);
        float: left;
       
    }

    .cart-table td::before {
        content: attr(data-label);
        float: left;
    
        padding-right: 10px;
    }

    .cart-table td:last-child {
        border-bottom: none;
    }
    .scanner {
        width: 100%;
        height: 500px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.75);
        padding: auto;
    }
    .scanner video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Esto hace que el video se ajuste al contenedor */
        position: absolute;
        top: 0;
        left: 0;
      }
}

@media (max-width: 450px) {
    .cart-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-size: 12px;
    }

    .cart-container {
        padding: 2px;
    }

    .cart-table th,
    .cart-table td {
        padding: 6px;
    }

    .cart-table,
    .cart-table tr,
    .cart-table th,
    .cart-table td {
        width: 100%;
        text-align: center;
    }

    .cart-table th {
        text-align: center;
    }

    .cart-table th::before {
        content: attr(data-label);
        float: left;
       
    }

    .cart-table td::before {
        content: attr(data-label);
        float: left;
    
        padding-right: 10px;
    }

    .cart-table td:last-child {
        border-bottom: none;
    }
}