.sales-page {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0 100px;
}

.page-title {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
label{
    padding: 10px;
}
.form-container {
    width: 50%;
    padding: 15px;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 300px;
}

.register-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.register-button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    text-align: center; /* Añadido para alinear el texto de error al centro */
}

.product-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 50%;
}

.sales-list {
    margin-top: 30px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
}

.sales-table th, .sales-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.sales-table th {
    background-color: #f4f4f4;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-button:hover {
    background-color: #e2e6ea;
}

.date-filter {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.date-filter label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 45%;
}

.date-filter input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date-filter button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.date-filter button:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .form-container {
        width: 70%;
    }

    .input-field {
        width: 100%;
        margin-right: 0;
    }

    .product-details {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    .input-field {
        margin-bottom: 10px;
    }

    .form-container {
        width: 100%;
    }

    .date-filter {
        flex-direction: column;
    }

    .date-filter label,
    .date-filter button {
        width: 100%;
        margin-bottom: 10px;
    }

    .sales-list {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .input-field {
        font-size: 14px;
    }

    .register-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .sales-table th, .sales-table td {
        font-size: 14px;
        padding: 8px;
    }

    .page-button {
        padding: 4px 8px;
    }

    .date-filter label,
    .date-filter button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .sales-page {
        padding: 0;
    }
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    .input-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .register-button {
        width: 100%;
        font-size: 14px;
    }

    .product-details {
        width: 100%;
        padding: 10px;
    }

    .sales-table th, .sales-table td {
        font-size: 12px;
        padding: 6px;
    }

    .page-button {
        padding: 3px 6px;
        font-size: 12px;
    }

    .date-filter label,
    .date-filter button {
        font-size: 12px;
    }
}
