/* src/App.css */

/* Estilos generales para el contenedor principal */
#root {
  margin:0;
  text-align: center;
}

/* Estilos para el logotipo (si se usa en el Navbar o en otro lugar) */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animación para logotipo giratorio */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos generales para el contenido de la tarjeta */
.card {
  padding: 2em;
}

/* Estilos para enlaces informativos */
.read-the-docs {
  color: #888;
}

/* Estilos para el contenido principal, asegurando que no se superponga con el footer */
.main-content {
  padding: 20px;
  min-height: calc(100vh - 60px - 50px); /* Ajusta según la altura de tu Navbar y Footer */
}
